.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(128, 19, 0);
    color: white;
    text-align: center;
 }

 /*this is new comment
 /* ilove ave
 /*this is first version
 /*this is secondversion